/* * {border: 1px solid hotpink;} */

/* Custom Properties */
:root {
  --color-primary-1:#AB5CDB;
  --color-primary-2:#1B1937;

  --color-neutral-1:#FFFFFF;
  --color-neutral-2:#0A0C1C;

  --font-family-1:"Inter", sans-serif;
  --font-family-2:"Lexend Deca", sans-serif;

  --font-size-1:.75rem;
  --font-size-2:15px;
  --font-size-3:1.5rem;
  --font-size-4:28px;
  --font-size-5:36px;

  --line-height-1:25px;
  --line-height-2:25px;
  --line-height-3:29px;
  --line-height-4:2rem;
  --line-height-5:44px;

  --font-weight-1:400;
  --font-weight-2:700;

  --margin-mobile:1.5rem;
  --max-width-desktop:1110px;
}

/* Universal Styling */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0 

}

/* Utility Classes */

.text-style-1{
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-3);
}

.text-style-2{
  font-family: var(--font-family-2);
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: .5;
}

.text-style-3 {
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  opacity: .6;
}

.text-color {
  color: var(--color-primary-1);
}

.margin-bottom-16 {
  margin-bottom: 1rem;
}

.margin-bottom-24 {
  margin-bottom: 1.5rem;
}

.margin-bottom-40 {
  margin-bottom: 2.5rem;
}

/* General Styling 1x Elements */

html {
  height: 100%;
  display: flex;
}

body {
  background-color: var(--color-neutral-2);
  color: var(--color-neutral-1);
  font-family: var(--font-family-1);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  line-height: var(--line-height-1);
  text-align: center;
  margin: auto;
}

main {
  background-color: var(--color-primary-2);
  margin-top: 88px;
  margin-inline: var(--margin-mobile); 
  border-radius: .5rem;
  overflow: hidden;
  max-width: 667px;
}

/* General Styling Generic Elements */

h2 {
  color: var();
  font-family: var();
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-4);
}

img {
  display: block;
  width: 100%;
}

/* Component Styling */

.image-container {
  position: relative;
}

.image-container::after {
  content: "";
  display: block;
  background-color: var(--color-primary-1);
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  opacity: .5;
}

.main-content {
  padding: 2.5rem 2rem 2rem 2rem;
}

@media (min-width: 1110px) {
  h2 {
    font-size: var(--font-size-5);
    line-height: var(--line-height-5);
  }

  .image-container {
    max-width: 540px;
  }

  .margin-bottom-0-d {
    margin-bottom: 0px;
  }

  .margin-bottom-24-d {
    margin-bottom: 1.5rem;
  }

  .margin-bottom-72-d {
    margin-bottom: 4.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    direction: rtl;
    text-align: left;
    max-width: var(--max-width-desktop);
  }

  .main-content {
    direction: ltr;
  }

  .main-content {
    padding: 4.5rem 4.5rem 59px 4.5rem;
  }

  .flex-container {
    display: flex;
    align-content: end;
    gap: 4rem;
  }
}
